body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
}

.Container{
  max-width: 750px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 10px;
  background-color: #1e1e1e;
  box-shadow: 0 8px 20px rgba(0, 0 0, 0);
}
h1 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 10px;
}
#Akanform{
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

label {
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #dddddd;
}

input,select {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  outline: none;
  border-radius: 12px;
  background-color: #2b2b2b;
  color: #ffffff;
}

input::placeholder {
  color: #999999;
}

input:focus,select:focus {
  border: 1px solid #49fc76;
}

button {
  margin-top: 25px;
  padding: 12px;
  font-size: 1rem;
  background-color: #30e448;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #1e88e5;
}

.result {
  margin-top: 25px;
  padding: 15px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: #2a2a2a;
  border-radius: 6px;
  color: #ffffff;
}

.akan-card-wrapper {
  display: flex;
  justify-content: center;
  margin: 60px 0;
}

.akan-card {
  background-color: #1f1f1f;
  max-width: 420px;
  padding: 30px;
  border-radius: 14px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.7);
}

.akan-card h2 {
  margin: 15px 0;
}

.akan-card p {
  color: #cccccc;
  font-size: 0.95rem;
  line-height: 1.6;
}

.ghana-flag {
  width: 100px;
}

.card-links a {
  color: #37f826;
  text-decoration: none;
  font-weight: bold;
}

.card-links a:hover {
  color: #1ee539;
}


