body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
}
.Container{
  max-width: 500px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 10px;
  background-color: #1e1e1e;
  box-shadow: 0 8px 20px rgba(0, 0 0, 0);
}
h1 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 10px;
}
#Akanform{
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}
label {
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #dddddd;
}
input,select {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  outline: none;
  border-radius: 12px;
  background-color: #2b2b2b;
  color: #ffffff;
}